

<form class="ajax-cart__cart-form js-cart-form" action="{{ routes.cart_url }}" method="post">
  <div class="ajax-cart__cart-items">
    {% for item in cart.items %}
      <div class="item_{{ item.id }}-{{ forloop.index }} ajax-cart__cart-item">
        <!-- Remove Button -->
        <button type="button" class="ajax-cart__item-remove js-cart-remove pl-2" 
          data-item-id="{{ item.id }}-{{ forloop.index }}" 
          data-item-key="{{ item.key }}" 
          data-line-item="{{ forloop.index }}">
          {% render 'snip-icons',
            type: 'theme',
            icon: 'close',
            size: '12px',
            fill: 'currentColor' %}
        </button>

        <!-- Product Image -->
        <div class="ajax-cart__item-image">
          <a href="{{ item.url }}" class="ajax-cart__item-image__wrapper">
            {% if item.image != blank %}
              {{ item.image | image_url: width: 200 | image_tag: loading: 'lazy' }}
            {% else %}
              {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
          </a>
        </div>

        <!-- Product Details -->
        <div class="ajax-cart__item-details">
          <div class="ajax-cart__item-info">
            <a href="{{ item.url }}" class="ajax-cart__title">{{ item.product.title }}</a>
            
            {%- unless item.variant.title contains 'Default' -%}
              <div class="ajax-cart__variant-info">
                {% for option in item.product.options %}
                  Rozmiar: {{ item.variant.options[forloop.index0] }}
                  {%- unless forloop.last -%}, {% endunless -%}
                {% endfor %}
              </div>
            {%- endunless -%}

            <!-- Price -->
            <div class="ajax-cart__price">
              {% if item.original_price != item.final_price %}
                <s>{{ item.original_price | money }}</s>
                <span>{{ item.final_price | money }}</span>
              {% else %}
                <span>{{ item.original_price | money }}</span>
              {% endif %}
            </div>
          </div>

          <!-- Quantity Controls -->
          <div class="ajax-cart__item-quantity js-item-quantity">
            <button type="button" 
              data-ajax-qty-decrease="{{ item.id }}-{{ forloop.index }}"
              data-item-key="{{ item.key }}"
              class="downer-{{ item.id }}-{{ forloop.index }} ajax-cart__qty-control--down">
              −
            </button>
            
            <input type="number" 
              id="updates_{{ item.id }}-{{ forloop.index }}"
              class="updates_{{ item.id }}-{{ forloop.index }} ajax-cart__qty-input"
              data-item-qty
              data-item-id="{{ item.id }}-{{ forloop.index }}"
              data-item-key="{{ item.key }}"
              data-item-line="{{ forloop.index }}"
              name="updates[]"
              value="{{ item.quantity }}"
              min="0"
              data-limit="{{ item.variant.inventory_quantity }}" />
            
            <button type="button"
              data-ajax-qty-increase="{{ item.id }}-{{ forloop.index }}"
              class="up-{{ item.id }}-{{ forloop.index }} ajax-cart__qty-control--up">
              +
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="ajax-cart__summary-wrapper {% if cart.item_count < 1 %}hide{% endif %} js-cart-summary">
    <div class="ajax-cart__final-details">
      <div class="ajax-cart__subtotal">
        <span>{{ 'cart.general.subtotal' | t }} (<span class="js-cart-count">{{ cart.item_count }}</span> {{ 'cart.general.items' | t }})</span>
        <span class="js-cart-subtotal">{{ cart.items_subtotal_price | money }}</span>
      </div>

      {% if cart.cart_level_discount_applications != blank %}
        <div class="ajax-cart__discounts">
          {% for discount in cart.cart_level_discount_applications %}
            <span>{{ discount.title }}</span>
            <span>-{{ discount.total_allocated_amount | money }}</span>
          {% endfor %}
        </div>
      {% endif %}

      <div class="ajax-cart__total">
        <span>{{ 'cart.general.total' | t }}</span>
        <span>{{ cart.total_price | money }}</span>
      </div>
    </div>

    <div class="ajax-cart__buttons">
      <button type="submit" name="checkout" class="ajax-cart__checkout-button">
        {{ 'cart.general.checkout' | t }}
      </button>
      
      <a href="{{ routes.cart_url }}" class="mt-4 ajax-cart__view-button">
        {{ 'cart.general.view_cart' | t }}
      </a>
    </div>

    {% if settings.show_cart_notes %}
      <div class="ajax-cart__info-wrapper js-cart-info {% if cart.item_count < 1 %}hide{% endif %}">
        <textarea name="note" class="js-cart-note">{{ cart.note }}</textarea>
      </div>
    {% endif %}
  </div>
</form>