{%- liquid
  assign option_name = option.name | downcase
  assign color_swatch_options = settings.swatch_option_names | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | downcase
  assign current_option = "option" | append: option.position
  assign other_options = "option1 option2 option3" | remove: current_option | strip | split: " "
-%}

<div class="swatches__container mb2 js-variant-selector text-left" data-option-index="{{ option.position }}" data-other-options='{{ other_options | json }}'>
  <p class="swatches__option-name">
    {{ option.name }} &nbsp;| 
    {% for value in option.values %}
      {% if option.selected_value == value %}
        <span id="selected-option-{{ option.position }}" class="swatches__option-value">{{ value }}</span>
      {% endif %}
    {% endfor %}
  </p>

  <div class="swatches__grid-wrapper">
    {% for value in option.values %}
      {%- liquid
        assign css_color = value | split: ' ' | last | handle
        assign available = false
        assign swatch_image_url = nil
        
        if value.swatch.image
          assign swatch_image_url = value.swatch.image | image_url: width: 100
        endif
        
        if value.swatch.color and color_swatch_style == 'swatch'
          assign css_color = value.swatch.color
        endif

        # Check availability
        for variant in product.variants
          if variant.available and variant[current_option] == value and variant[other_options[0]] == current_variant[other_options[0]] and variant[other_options[1]] == current_variant[other_options[1]]
            assign available = true
            break
          endif
        endfor

        # Get variant image
        assign variant_image_url = ''
        for variant in product.variants
          if variant[current_option] == value and variant[other_options[0]] == current_variant[other_options[0]] and variant[other_options[1]] == current_variant[other_options[1]]
            if variant.image
              assign variant_image_url = variant.image | img_url: '100x'
            endif
            break
          endif
        endfor

        assign checked = ''
        if current_variant[current_option] == value
          assign checked = 'checked="checked"'
        endif

        assign swatch_img = null
        assign swatch_color_name = value | handle | append: '.png'
        if images[swatch_color_name] != blank
          assign swatch_img = swatch_color_name | file_url
        endif
      -%}

      {% if show_color_swatches and color_swatch_options contains option_name %}
        <div class="swatches__swatch--color swatch-element color swatches__shape--{{ color_swatch_shape }} {% unless available %}soldout{% endunless %} js-swatch-element">
          <input 
            type="radio" 
            id="{{ product.id }}-{{ unique_id }}-{{ option.name }}-{{ forloop.index0 }}"
            class="swatches__form--input"
            name="{{ option_name }}-{{ product.id }}-{{ unique_id }}"
            value="{{ value | escape }}"
            form="product-form-{{ unique_id }}"
            data-position="{{ option.position }}"
            {{ checked }}>

          <label 
            class="swatches__form--label"
            tabindex="0"
            for="{{ product.id }}-{{ unique_id }}-{{ option.name }}-{{ forloop.index0 }}"
            data-swatch-color="{{ value | handleize }}"
            style="background-color: {{ css_color }};{% unless color_swatch_style == 'default-color' %}background-image: url({% if color_swatch_style == 'custom-image' and swatch_img != null %}{{ swatch_img }}{% elsif color_swatch_style == 'variant-image' %}{{ variant_image_url }}{% elsif color_swatch_style == 'swatch' %}{{ swatch_image_url }}{% endif %}); background-size:50px;background-position: center center;{% endunless %}">
          </label>
        </div>
      {% else %}
        <div class="swatches__swatch--regular swatch-element {% unless available %}soldout{% endunless %} js-swatch-element">
          <input 
            type="radio" 
            id="{{ product.id }}-{{ unique_id }}-{{ option.name }}-{{ forloop.index0 }}"
            class="swatches__form--input"
            name="{{ option_name }}-{{ product.id }}-{{ unique_id }}"
            value="{{ value | escape }}"
            form="product-form-{{ unique_id }}"
            data-position="{{ option.position }}"
            {{ checked }}>

          <label 
            class="swatches__form--label" 
            for="{{ product.id }}-{{ unique_id }}-{{ option.name }}-{{ forloop.index0 }}" 
            tabindex="0">
            {{ value }}
          </label>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% style %}
.swatches__grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
 
}

.swatches__swatch--regular,
.swatches__swatch--color {
  flex: 1 1 auto;
  min-width: calc((100% - 40px) / 6);
  max-width: calc((100% - 40px) / 6);
}

@media screen and (max-width: 768px) {
  .swatches__swatch--regular,
  .swatches__swatch--color {
    min-width: calc((100% - 24px) / 4);
    max-width: calc((100% - 24px) / 4);
  }
}

@media screen and (max-width: 480px) {
  .swatches__swatch--regular,
  .swatches__swatch--color {
    min-width: calc((100% - 16px) / 3);
    max-width: calc((100% - 16px) / 3);
  }
}
{% endstyle %}