<style>

  a {
    font-size: 18px !important;
    font-weight: 700 !important;
  }

</style>

{% layout none %}
{%- liquid
  assign drawer = false
  assign modal = false
  assign page_only = false
  assign no_js_cart = false

  if settings.cart_type == 'drawer'
    assign drawer = true
  elsif settings.cart_type == 'modal_cart'
    assign modal = true
  elsif settings.cart_type == 'page_only'
    assign page_only = true
  else
    assign no_js_cart = true
  endif

  if cart.item_count < 1
    assign isEmpty = ''
    assign formEmpty = 'hide'
  else
    assign isEmpty = 'hide'
    assign formEmpty = ''
  endif

  if settings.cart_type == 'drawer' or settings.cart_type == 'page_only'
    assign is_narrow = 'narrow'
  endif
-%}
<template data-options>
  {
    "item_count": {{ cart.item_count }}
  }
</template>
<template data-html="content">
  <div class="ajax-cart__empty-cart a-center cart-wrapper mt-16 js-cart-empty {{ isEmpty }}">
    
    <div class="cart__empty-message">
    
    <span class="text-lg font-[600]">{{ 'cart.general.empty' | t }}</span>
    {% comment %} <div>
    <span class="text-lg font-[600]">{{ 'cart.general.continue_browsing_html' | t }}</span>
    <a class="text-lg font-bold underline" href="/collections/all">tutaj</a>
    <span class="text-lg font-[600]">{{ 'cart.general.continue_browsing_html2' | t }}</span>
    </div> {% endcomment %}

  </div>
  </div>
  {% render 'cart-form',
     drawer: drawer,
     modal: modal,
     page_only: page_only,
     no_js_cart: no_js_cart,
     formEmpty: formEmpty,
     is_narrow: is_narrow %}
</template>
